<div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><%= @post.title %></h1>
      <p><%= @post.body %></p>
    </div>
<p style="line-height: 80%">
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to 'Delete post', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
<%= link_to 'Back', posts_path, :class => 'btn btn-default' %>
